# Crear el entorno virtual y modificar $PATH
export UV_VENV_CLEAR=1

uv venv
source .venv/bin/activate

uv pip install --group dev-tools --group base

uv run ansible-galaxy collection install infisical.vault
uv run ansible-galaxy collection install -r requirements.yml

pre-commit clean
pre-commit install

echo '✅ Run: `ansible-playbook playbooks/test.yml -i inventory.test.ini` for local development environment'
