# Crear el entorno virtual y modificar $PATH
layout python3

ANSIBLE_PYTHON_INTERPRETER=$(which python3)

# Instalar dependencias si no está bootstrapped
if [ ! -f .direnv/.bootstrapped ]; then
  echo "🔧 Installing 1st time deps..."
  pip install --upgrade pip
  pip install -r requirements.txt

  echo "🔧 Installing development dependencies..."
  pip install ansible-lint yamllint pre-commit

  echo "🔧 Running ansible-galaxy install..."
  ansible-galaxy collection install infisical.vault
  ansible-galaxy collection install -r requirements.yml --force

  touch .direnv/.bootstrapped
fi

pre-commit clean
pre-commit install

echo '✅ Run: `ansible-playbook playbooks/test.yml -i inventory.test.ini` for local development environment'
