- name: Setup Chrome on Debian Family
  become: true
  when: ansible_os_family == "Debian"
  block:
    - name: Create keyring directory
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Add Google Chrome GPG Key (Debian)
      become: true
      ansible.builtin.shell:
        cmd: "curl -fsSL https://dl.google.com/linux/linux_signing_key.pub | gpg --dearmor -o /etc/apt/keyrings/google-chrome.gpg"
        creates: /etc/apt/keyrings/google-chrome.gpg
      when: ansible_os_family == "Debian"

    - name: Add Google Chrome repository (Debian)
      become: true
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/google-chrome.gpg] http://dl.google.com/linux/chrome/deb/ stable main"
        state: present
        filename: google-chrome.list

- name: Setup Chrome on RedHat Family
  become: true
  when: ansible_os_family == "RedHat"
  block:
    - name: Add Google Chrome repository (RedHat/CoreOS)
      ansible.builtin.yum_repository:
        name: google-chrome
        description: Google Chrome
        baseurl: http://dl.google.com/linux/chrome/rpm/stable/x86_64
        enabled: true
        gpgcheck: true
        gpgkey: https://dl.google.com/linux/linux_signing_key.pub

    - name: Install Google Chrome on OSTree Variants (CoreOS/Silverblue)
      community.general.rpm_ostree_pkg:
        name: google-chrome-stable
        state: present
      when: ansible_distribution_release in ['Bazzite', 'Coreos', 'Kinoite', 'Silverblue']

- name: Install Google Chrome
  become: true
  ansible.builtin.package:
    name: google-chrome-stable
    state: present
  when: ansible_distribution_release not in ['Bazzite', 'Coreos', 'Kinoite', 'Silverblue']
