- name: Download Direnv installation script
  ansible.builtin.get_url:
    url: https://direnv.net/install.sh
    dest: /tmp/install_direnv.sh
    mode: "0755"
    force: false
    
- name: Install Direnv
  ansible.builtin.command:
    cmd: /tmp/install_direnv.sh
  # environment:
  #   bin_path: "{{ install_bin_path }}"

- name: Add Direnv completions to /etc/bash.bashrc (for all users)
  become: true
  ansible.builtin.lineinfile:
    path: /etc/bash.bashrc
    line: 'eval "$(direnv hook bash)"'
    state: present
    create: yes

- name: Add Direnv completions to /etc/profile.d/direnv.sh (for all users)
  become: true
  ansible.builtin.copy:
    dest: /etc/profile.d/direnv.sh
    content: |
      #!/bin/bash
      eval "$(direnv hook bash)"
    mode: '0755'