- name: Download GitHub CLI GPG Key
  become: true
  ansible.builtin.get_url:
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    dest: /etc/apt/keyrings/githubcli-archive-keyring.gpg
    mode: '0644'
    owner: root
    group: root
    force: false

- name: Add GitHub CLI Repository
  become: true
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ 'amd64'
      if ansible_architecture == 'x86_64'
      else ansible_architecture }} signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg]
      https://cli.github.com/packages stable main
    state: present
    filename: github-cli.list
    update_cache: true

- name: Install GitHub CLI (gh)
  become: true
  ansible.builtin.apt:
    name: gh
    state: present
    update_cache: true

- name: Check GH CLI Authentication
  register: gh_auth_check
  changed_when: false
  failed_when: false
  ansible.builtin.command:
    cmd: gh auth status
