- name: Add GitHub CLI GPG Key (Debian)
  become: true
  ansible.builtin.shell:
    cmd: "curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | gpg --dearmor -o /etc/apt/keyrings/github-cli.gpg"
    creates: /etc/apt/keyrings/github-cli.gpg
  when: ansible_os_family == "Debian"

- name: Add GitHub CLI Repository (Debian)
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }} signed-by=/etc/apt/keyrings/github-cli.gpg] https://cli.github.com/packages stable main"
    state: present
    filename: github-cli.list
  when: ansible_os_family == "Debian"

- name: Add GitHub CLI Repository (RedHat/CoreOS)
  become: true
  ansible.builtin.yum_repository:
    name: gh-cli
    description: GitHub CLI
    baseurl: https://cli.github.com/packages/rpm
    enabled: true
    gpgcheck: true
    gpgkey: https://cli.github.com/packages/rpm/gpg
  when: ansible_os_family == "RedHat"

- name: Install GitHub CLI on Traditional Systems
  become: true
  ansible.builtin.package:
    name: gh
    state: present
  when: 
    - ansible_os_family == "Debian" or (ansible_os_family == "RedHat" and ansible_facts.ansible_distribution | default('') not in ['Coreos', 'Silverblue', 'Kinoite'])

- name: Install GitHub CLI on OSTree Variants (CoreOS/Silverblue)
  become: true
  community.general.rpm_ostree_pkg:
    name: gh
    state: present
  when: 
    - ansible_os_family == "RedHat"
    - ansible_facts.ansible_distribution | default('') in ['Coreos', 'Silverblue', 'Kinoite']

- name: Check GH CLI Authentication
  register: gh_auth_check
  changed_when: false
  failed_when: false
  ansible.builtin.command:
    cmd: gh auth status