- name: Download NVM installation script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh
    dest: /tmp/install_nvm.sh
    mode: "0755"
    force: false

- name: Install Node Version Manager
  ansible.builtin.command:
    cmd: /tmp/install_nvm.sh
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: Add NVM initialization to /etc/bash.bashrc (for all users)
  become: true
  ansible.builtin.blockinfile:
    path: /etc/bash.bashrc
    block: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    marker: "# {mark} ANSIBLE NVM BLOCK"

- name: Add NVM initialization to /etc/profile.d/nvm.sh (for all users)
  become: true
  ansible.builtin.copy:
    dest: /etc/profile.d/nvm.sh
    content: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    mode: '0755'
