- name: Download UV installation script
  ansible.builtin.get_url:
    url: https://astral.sh/uv/install.sh
    dest: /tmp/install_uv.sh
    mode: "0755"
    force: false

- name: Create .local/bin directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: '0755'

- name: Install Universal Virtualenv (UV)
  ansible.builtin.command:
    cmd: /tmp/install_uv.sh
    # creates: "{{ ansible_env.HOME }}/.local/bin/uv"
    environment:
      bin_path: "{{ ansible_env.HOME }}/.local/bin"
      PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.PATH }}"

- name: Add UV completion to bashrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    block: |
      eval "$(uv generate-shell-completion bash)"
    marker: "# {mark} ANSIBLE UV COMPLETION BLOCK"
