- name: Install bluez on Debian/Ubuntu
  become: true
  ansible.builtin.package:
    name: [bluez, bluez-tools]
    state: present
  when: ansible_os_family == "Debian"

- name: Install Bluez on RedHat Family
  when: ansible_os_family == "RedHat"
  block:
    - name: Install bluez on Fedora/RHEL (Traditional)
      become: true
      ansible.builtin.dnf:
        name: [bluez, bluez-tools]
        state: present
      when: ansible_distribution not in ['coreos', 'silverblue', 'kinoite']

    - name: Install bluez on OSTree variants (CoreOS/Silverblue)
      become: true
      community.general.rpm_ostree_pkg:
        name: [bluez, bluez-tools]
        state: present
      when:  ansible_distribution in ['coreos', 'silverblue', 'kinoite']

- name: Ensure /etc/bluetooth directory exists with correct permissions
  become: true
  ansible.builtin.file:
    path: /etc/bluetooth
    state: directory
    mode: '0555'

- name: Ensure Bluetooth service is running and enabled
  become: true
  ansible.builtin.systemd:
    name: bluetooth
    state: started
    enabled: true