- name: Instalar bluez en Debian/Ubuntu
  ansible.builtin.package:
    name:
      - bluez
      - bluez-tools
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Instalar bluez en Fedora
  ansible.builtin.dnf:
    name:
      - bluez
      - bluez-tools
    state: present
    use_backend: dnf5
  when: ansible_facts.os_family == "RedHat"

- name: Asegurar que el directorio /etc/bluetooth exista y tenga los permisos correctos
  become: true
  ansible.builtin.file:
    path: /etc/bluetooth
    state: directory
    mode: '0555'

- name: Ensure Bluetooth service is running and enabled
  become: true
  ansible.builtin.systemd:
    name: bluetooth
    state: started
    enabled: true
