- name: Generate Containerd Config
  become: true
  ansible.builtin.command:
    cmd: containerd config default | sudo tee /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml

- name: Update containerd settings safely
  become: true
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  loop:
    - regexp: '^(\s*)SystemdCgroup = false'
      replace: '\1SystemdCgroup = true'

    - regexp: '^(\s*)sandbox_image = "registry.k8s.io/pause:[^"]+"'
      replace: '\1sandbox_image = "registry.k8s.io/pause:3.10"'

- name: Enable and start required services
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - containerd
    - kubelet
