- name: Generate Containerd Config
  become: true
  ansible.builtin.command:
    cmd: containerd config default | sudo tee /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml

- name: Update Containerd Config
  become: true
  ansible.builtin.lineinfile:
    path: /etc/containerd/config.toml
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - { regexp: '^SystemdCgroup = false', line: 'SystemdCgroup = true' }
    - { regexp: 'sandbox_image = "registry.k8s.io/pause:3.8"', line: 'sandbox_image = "registry.k8s.io/pause:3.10"' }

- name: Enable and start required services
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - containerd
    - kubelet
