- name: Generate Containerd Config
  become: true
  ansible.builtin.command:
    cmd: containerd config default | sudo tee /etc/containerd/config.toml
  args:
    creates: /etc/containerd/config.toml

- name: Enable SystemdCgroup for runc
  become: true
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: "{{ regexp }}"
    replace: "{{ replace }}"
  loop:
    - { regexp: '^SystemdCgroup = false', replace: 'SystemdCgroup = true' }
    - { regexp: 'sandbox_image = "registry.k8s.io/pause:3.8"', replace: 'sandbox_image = "registry.k8s.io/pause:3.10"' }

- name: Enable and start required services
  become: true
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - containerd
    - kubelet
