- name: Ensure dependencies are present
  become: true
  ansible.builtin.package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gpg
      - python3-pip

- name: Instal Packages for {{ ansible_os_family }}
  ansible.builtin.include_tasks:
    file: "{{ role_path }}/tasks/packages/{{ ansible_os_family | lower }}.yml"

- name: Install Kubernetes core packages
  become: true
  ansible.builtin.package:
    name:
      - kubeadm
      - kubelet
      - containerd
      - kubectl
    state: present

- name: Hold Kubernetes packages at current version
  become: true
  vars:
    package_hold_command:
      Debian: "apt-mark hold"
      RedHat: "yum versionlock"
      Suse: "zypper addlock"
      Archlinux: "pacman -S --sync"
  ansible.builtin.command:
    cmd: "{{ package_hold_command[ansible_os_family] }} kubeadm kubelet containerd"
  changed_when: false

- name: Ensure CNI bin directories exist
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /usr/lib/cni
    - /opt/cni/bin

- name: Download CNI plugins to Runner
  ansible.builtin.get_url:
    url: "https://github.com/containernetworking/plugins/releases/download/{{ k8s_cni_plugin_version }}/cni-plugins-linux-amd64-{{ k8s_cni_plugin_version }}.tgz"
    dest: "/tmp/cni-plugins-{{ k8s_cni_plugin_version }}.tgz"
    force: false

- name: Distribute and unarchive CNI plugins to nodes
  become: true
  ansible.builtin.unarchive:
    src: "/tmp/cni-plugins-{{ k8s_cni_plugin_version }}.tgz"
    dest: /opt/cni/bin
    owner: root
    group: root
    mode: "0755"
    creates: /opt/cni/bin/bridge
