- name: Check Node is installed
  register: node_path
  changed_when: false
  failed_when: false
  ansible.builtin.command:
    cmd: which node

- name: Setup Node.js
  when: node_path.stdout == ""
  block:
    - name: Install Node.js LTS
      become: true
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        update_cache: true
      with_items:
        - nodejs
        - npm

    - name: Verify Node.js installation
      ansible.builtin.command:
        cmd: node --version
      register: node_version
      changed_when: false

    - name: Show Node.js Version
      ansible.builtin.debug:
        msg: "Node.js version installed: {{ node_version.stdout }}"

- name: Check if NVM is sourced in .bashrc
  ansible.builtin.command:
    cmd: grep 'nvm.sh' ~/.bashrc
  register: nvm_source_check
  failed_when: false
  changed_when: false

- name: Setup NVM
  when: nvm_source_check.stdout == ""
  block:
    - name: Download NVM installation script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh
        dest: /tmp/install_nvm.sh
        mode: "0755"
      changed_when: false

    - name: Install Node Version Manager (NVM)
      ansible.builtin.command:
        cmd: /tmp/install_nvm.sh
      changed_when: false
      args:
        executable: /bin/bash

    - name: Install Node.js LTS using NVM
      ansible.builtin.command:
        cmd: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install --lts
      args:
        executable: /bin/bash
      changed_when: false
