- name: Install NFS client packages
  become: true
  ansible.builtin.package:
    name: "{{ 'nfs-common' if ansible_os_family == 'Debian' else 'nfs-utils' }}"
    state: present

- name: Ensure mount points exist
  become: true
  ansible.builtin.file:
    path: "{{ item.mount_path }}"
    state: directory
    mode: "0755"
  loop: "{{ nfs_mounts }}"

- name: Mount NFS shares
  become: true
  ansible.posix.mount:
    src: "{{ item.server }}:{{ item.remote_path }}"
    path: "{{ item.mount_path }}"
    fstype: nfs
    opts: "{{ item.options }}"
    state: mounted
  loop: "{{ nfs_mounts }}"
