- name: Install NFS client on Debian Family
  become: true
  when: ansible_os_family == "Debian"
  ansible.builtin.package:
    name: nfs-common
    state: present

- name: Install NFS client on RedHat Family
  become: true
  when: ansible_os_family == "RedHat"
  block:
  - name: Install NFS on RedHat Tradicional Systems
    become: true
    ansible.builtin.dnf:
      name: nfs-utils
      state: present
    when: ansible_distribution_release not in ['Bazzite', 'Coreos', 'Kinoite', 'Silverblue']
    
  - name: Install NFS client RedHat OSTree Variants (CoreOS/Silverblue)
    become: true
    community.general.rpm_ostree_pkg:
      name: nfs-utils
      state: present
    when: ansible_distribution_release in ['Bazzite', 'Coreos', 'Kinoite', 'Silverblue']

- name: Ensure mount points exist
  become: true
  ansible.builtin.file:
    path: "{{ item.mount_path }}"
    state: directory
    mode: "0755"
  loop: "{{ nfs_mounts }}"

- name: Mount NFS shares
  # when: false
  become: true
  ansible.posix.mount:
    src: "{{ nfs_server }}:{{ item.remote_path }}"
    path: "{{ item.mount_path }}"
    fstype: nfs
    opts: "{{ item.options }}"
    state: mounted
  loop: "{{ nfs_mounts }}"
