- name: Install NFS packages
  ansible.builtin.package:
    name:
      - nfs-kernel-server
      - nfs-utils
    state: present

- name: Ensure export directories exist
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop: "{{ nfs_exports }}"

- name: Configure /etc/exports
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: "0644"
  notify: Reload NFS exports

- name: Ensure NFS service is enabled and running
  ansible.builtin.service:
    name: "{{ 'nfs-kernel-server' if ansible_os_family == 'Debian' else 'nfs-utils' }}"
    state: started
    enabled: true
