---
- name: Install Core Deps
  become: true
  ansible.builtin.package:
    name:
      - intel-media-va-driver
      - firmware-intel-graphics
      - firmware-linux-nonfree
      - vainfo
      - libva2
      - libva-drm2
      - libva-x11-2
      - intel-gpu-tools

- name: Verify /dev/dri exists
  ansible.builtin.stat:
    path: /dev/dri/renderD128
  register: dri_device

- name: Fail if VA-API device is missing
  ansible.builtin.fail:
    msg: "/dev/dri/renderD128 not found. GPU or driver not available."
  when: not dri_device.stat.exists
