- name: Home Lab Setup
  hosts: cafeteria
  gather_facts: true
  pre_tasks:
    - name: Initialize playbook
      ansible.builtin.debug:
        msg: "Starting Home Lab Setup in {{ inventory_hostname }}"

    - name: Print OS Information
      ansible.builtin.debug:
        msg:
          - "Distro: {{ ansible_distribution }}"
          - "Version: {{ ansible_distribution_version }}"
          - "Codename: {{ ansible_distribution_release }}"

    - name: Install Core Deps (Debian)
      become: true
      ansible.builtin.package:
        name: build-essential
        update_cache: true
      when: ansible_os_family == "Debian"

    - name: Install Core Deps (RedHat)
      become: true
      ansible.builtin.package:
        name: "@Development Tools"
      when: ansible_os_family == "RedHat"

  roles:
    # Bluetooth
    - { role: bluetooth, when: bluetooth_enabled | default(false) | bool }

    # Intel Graphics (VA-API / Quick Sync)
    - { role: intel_graphics, when: graphics == "intel" }

    # NFS (Network File System)
    - { role: nfs, when: nfs_enabled | default(false) | bool }

    # Bond Multi Ethernet
    - { role: bond, when: bond_enabled | default(false) | bool }

    # Expose Local Network to Internet
    - { role: zerotier, when: zerotier_enabled | default(false) | bool }

    # Secret manager
    - { role: vault, when: vault_enabled | default(false) | bool }

    # Database
    - { role: postgres, when: postgres_enabled | default(false) | bool }

- name: K8s Nodes
  hosts: k8s_nodes
  gather_facts: true
  roles:
    # Apps Cluster
    - { role: k8s }

- name: K8s Cluster Setup
  hosts: k8s_control_plane
  gather_facts: true
  tasks:
    - name: Generate kubeadm join command
      ansible.builtin.command:
        cmd: kubeadm token create --print-join-command
      register: kubeadm_join_cmd
      changed_when: false

    - name: Set join command as fact
      ansible.builtin.set_fact:
        kubeadm_join_command: "{{ kubeadm_join_cmd.stdout }}"

    - name: Join worker to cluster
      become: true
      delegate_to: "{{ worker }}"
      ansible.builtin.command:
        cmd: "{{ kubeadm_join_command }}"
        creates: /var/lib/kubelet/config.yaml
      loop: "{{ groups['k8s_workers'] }}"
      loop_control:
        loop_var: worker
