- name: Home Lab Setup
  hosts: cafeteria
  gather_facts: true
  pre_tasks:
    - name: Pre Tasks
      ansible.builtin.include_tasks:
        file: ../tasks/prepare.yml

  roles:
    # Bluetooth
    - { role: bluetooth, when: bluetooth_enabled | default(false) | bool }

    # Intel Graphics (VA-API / Quick Sync)
    - { role: intel_graphics, when: graphics == "intel" }

    # Bond Multi Ethernet
    - { role: bond, when: bond_enabled | default(false) | bool }

    # Expose Local Network to Internet
    - { role: zerotier, when: zerotier_enabled | default(false) | bool }

    # Secret manager
    - { role: vault, when: vault.enabled | default(false) | bool }

    # Database
    - { role: postgres, when: postgres.enabled | default(false) | bool }

- name: K8s Nodes
  hosts: k8s_nodes
  gather_facts: true
  roles:
    # Apps Cluster
    - { role: k8s }

- name: K8s Control Plane
  hosts: k8s_control_plane
  gather_facts: true
  tasks:
    - name: Generate kubeadm join command
      ansible.builtin.command:
        cmd: kubeadm token create --print-join-command
      register: kubeadm_join_cmd
      changed_when: false

    - name: Set join command as fact
      ansible.builtin.set_fact:
        kubeadm_join_command: "{{ kubeadm_join_cmd.stdout }}"

- name: K8s Workers
  hosts: k8s_workers
  gather_facts: true
  tasks:
    - name: Join worker to cluster
      become: true
      ansible.builtin.command:
        cmd: "{{ hostvars[groups['k8s_control_plane'][0]].kubeadm_join_command }}"
        creates: /var/lib/kubelet/config.yaml
