- name: Home Lab Server Setup
  hosts: cafeteria
  gather_facts: true
  environment:
    CURL_OPTIONS: "--ipv4"
  pre_tasks:
    - name: Initialize playbook
      ansible.builtin.debug:
        msg: "Starting Home Lab Setup in {{ inventory_hostname }}"

    - name: Print OS Information
      ansible.builtin.debug:
        msg:
          - "Distro: {{ ansible_distribution_release }}"
          - "Version: {{ ansible_distribution_version }}"
          - "Codename: {{ ansible_distribution_release }}"

    - name: Install Core Deps (Debian)
      become: true
      ansible.builtin.package:
        name: build-essential
        update_cache: true
      when: ansible_os_family == "Debian"

    - name: Install Core Deps (RedHat)
      become: true
      ansible.builtin.package:
        name: "@Development Tools"
      when: ansible_os_family == "RedHat"

    # - name: Entel 13th & 14th freeze fixes
    #   become: true
    #   when: 
    #     - ansible_processor | select('search', 'i[3579]-1[34]') | list | length > 0
    #   block:
    #     # - name: Intall microcode
    #     #   ansible.builtin.package:
    #     #     name: intel-microcode
    #     #     state: present

    #     - name: Limit energy mode on grub file
    #       ansible.builtin.lineinfile:
    #         path: /etc/default/grub
    #         regexp: '^GRUB_CMDLINE_LINUX_DEFAULT="'
    #         line: 'GRUB_CMDLINE_LINUX_DEFAULT="quiet splash intel_idle.max_cstate=1"'
        
    #     - name: Update Grub
    #       ansible.builtin.command: 
    #         cmd: update-grub
    #         changed_when: false

    #     - name: Disable hibernate on Intel 13th & 14th Gen
    #       ansible.builtin.systemd:
    #         name: "{{ item }}"
    #         masked: yes
    #       loop:
    #         - sleep.target
    #         - suspend.target
    #         - hibernate.target
    #         - hybrid-sleep.target

  roles:
    # Bluetooth
    - { role: bluetooth, when: bluetooth_enabled | default(false) | bool }

    # Intel Graphics (VA-API / Quick Sync)
    - { role: intel_graphics, when: graphics is defined and graphics == "intel" }

    # NFS (Network File System)
    - { role: nfs, when: nfs_enabled | default(false) | bool }

    # Apps Cluster
    - { role: k8s, when: k8s_enabled | default(false) | bool }

    # Bond Multi Ethernet
    - { role: bond, when: bond_enabled | default(false) | bool }

    # Expose Local Network to Internet
    - { role: zerotier, when: zerotier_enabled | default(false) | bool }

    # Database
    - { role: postgres, when: postgres_enabled | default(false) | bool }
