- name: Vault Configuration Manager
  hosts: localhost
  connection: local
  vars:
    vault_addr: "http://vault.core.svc.cluster.local:8200"
    vault_root_token: "{{ lookup('env', 'VAULT_TOKEN') }}"
    vault_setup: true

  tasks:
    - name: Verificar que Vault es accesible
      ansible.builtin.uri:
        url: "{{ vault_addr }}/v1/sys/health"
        method: GET
      register: vault_health

  roles:
    - { role: vault }
