name: Update Server via Ansible

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/**.md"
      - ".ansible-lint"

jobs:
  playbook:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: "pip"
          python-version-file: ".python-version"

      - name: "Install Ansible"
        run: |
          pip3 install -r requirements.txt
          ansible-galaxy collection install -r requirements.yml

      - name: Configure SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/barista@catuai
          chmod 600 ~/.ssh/barista@catuai
          printf "Host *\n  StrictHostKeyChecking no\n" > ~/.ssh/config

      - name: Run Ansible playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: ansible-playbook playbook.yml
