name: Update Vault Server via Ansible
run-name: '[Vault] Rolling out "${{ github.event.head_commit.message }}" on ${{ github.ref_name }}'

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/vault.yaml"
      - "roles/vault"
      - "playbooks/vault.yml"

jobs:
  vault:
    runs-on: [self-hosted, arc, k8s]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install UV
        uses: astral-sh/setup-uv@v7.3.0
        with:
          enable-cache: "true"

      - name: Install Deps
        run: |
          uv venv
          uv pip install --group vault
        env:
          UV_LINK_MODE: copy

      - name: Run Ansible playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
          uv run ansible-playbook playbooks/vault.yml
